@model InicioSesionViewModel

@{
    ViewData["Title"] = "Inicio de sesión";
}

<body>
<section>
    <h1>@ViewData["Title"]</h1>

    <form asp-controller="Home" asp-action="InicioSesion" method="post">

        <div class="form-group row m-2">
            <label asp-for="@Model.NombreUsuario">Usuario</label>
            <input asp-for="@Model.NombreUsuario" placeholder="Ingrese el usuario" class="form-control"/>
            <span asp-validation-for="@Model.NombreUsuario" class="alert-warning"></span>
        </div>

        <div class="form-group row m-2">
            <label asp-for="@Model.Clave">Clave</label>
            <input asp-for="@Model.Clave" placeholder="Ingrese la clave" class="form-control"/>
            <span asp-validation-for="@Model.Clave" class="alert-warning"></span>
        </div>

        <div class="form-group row m-2">
            <input class="btn btn-primary mb-2" type="submit" value="Ingresar">
            <input class="btn btn-primary mb-2" type="reset" value="Borrar">
        </div>

    </form>
</section>

<section>
    <table class="table table-hover">
        <tr>
            <th>Permisos</th>
            <th>Nombre</th>
            <th>Usuario</th>
            <th>Contraseña</th>
        </tr>
        <tr>
            <td>Administrador</td>
            <td>Juan</td>
            <td>admin</td>
            <td>admin</td>
        </tr>
        <tr>
            <td>Cadete</td>
            <td>Agustin</td>
            <td>cadete</td>
            <td>cadete</td>
        </tr>
    </table>
</section>

</body>