@model InicioViewModel

@{
    ViewData["Title"] = "Inicio de sesión";
}

<body>
<section>
    <h1>@ViewData["Title"]</h1>

    <form asp-controller="Home" asp-action="InicioSesion" method="post">

        <div class="form-group row m-2">
            <label asp-for="@Model.LoginViewModel.NombreUsuario">Usuario</label>
            <input asp-for="@Model.LoginViewModel.NombreUsuario" placeholder="Ingrese el usuario" class="form-control"/>
            <span asp-validation-for="@Model.LoginViewModel.NombreUsuario" class="alert-warning"></span>
        </div>

        <div class="form-group row m-2">
            <label asp-for="@Model.LoginViewModel.Clave">Clave</label>
            <input asp-for="@Model.LoginViewModel.Clave" placeholder="Ingrese la clave" class="form-control"/>
            <span asp-validation-for="@Model.LoginViewModel.Clave" class="alert-warning"></span>
        </div>

        <div class="form-group row m-2">
            <input class="btn btn-primary mb-2" type="submit" value="Ingresar">
            <input class="btn btn-primary mb-2" type="reset" value="Borrar">
        </div>

    </form>
</section>

<section>
    <table class="table table-hover">
        <thead>
        <th>Permisos</th>
        <th>Nombre</th>
        <th>Usuario</th>
        <th>Clave</th>
        </thead>

        <tbody>
        @foreach (var usuario in Model.UsuarioViewModels)
        {
            <tr>
                <td>@usuario.Rol</td>
                <td>@usuario.Nombre</td>
                <td>@usuario.NombreUsuario</td>
                <td>@usuario.Clave</td>
            </tr>
        }
        </tbody>
    </table>
</section>

</body>