@model tp5.ViewModels.Usuario.Cadete.InformacionCadete

@{
    ViewBag.Title = "Resumen de Cadete";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<section>
    <article class="alert-heading">
        <p>Monto Ganado: @Model.EnviosCadeteViewModel.MontoGanado</p>
        <p>Cantidad Envíos: @Model.EnviosCadeteViewModel.CantidadEnvios</p>
    </article>
</section>

<section>
    <article>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Observación</th>
                <th>Estado</th>
                <th>Cliente</th>
            </tr>
            </thead>

            <tbody>
            @foreach (var pedido in Model.PedidoViewModels)
            {
                <tr>
                    <td>@pedido.Id</td>
                    <td>@pedido.Observacion</td>
                    <td>@pedido.Estado</td>
                    <td>@pedido.Cliente</td>
                </tr>
            }
            </tbody>
        </table>

    </article>
</section>