@model List<PedidoViewModel>

<h2>Lista de Pedidos del Cadete</h2>

<section>
    <article>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Observación</th>
                <th>Estado</th>
                <th>Cliente</th>>
                <th>Cadete</th>>
                <th>Acciones</th>
            </tr>
            </thead>

            <tbody>
            @foreach (var pedido in Model)
            {
                <tr>
                    <td>@pedido.Id</td>
                    <td>@pedido.Observacion</td>
                    <td>@pedido.Estado</td>
                    <td>@pedido.Cliente</td>
                    <td>@pedido.Cadete</td>
                    <td>
                        <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="ModificarPedido" asp-route-id="@pedido.Id">Editar</a>
                        <a class="btn btn-danger btn-sm" asp-controller="Pedido" asp-action="BajaPedido" asp-route-id="@pedido.Id">Eliminar</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </article>
</section>