@inject IHttpContextAccessor HttpContextAccess
@model List<PedidoViewModel>

<h2>Lista de Pedidos</h2>

@{
    var rolUsuario = HttpContextAccess.HttpContext?.Session.GetInt32(SessionRol);

    if (rolUsuario != (int)Rol.Cliente)
    {
        <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="AltaPedido">Crear nuevo pedido</a>
    }
}


<section>
    <article>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Observación</th>
                <th>Estado</th>
                @{
                    if (rolUsuario != (int)Rol.Cliente)
                    {
                        <th>Cliente</th>
                    }
                }

                @{
                    if (rolUsuario != (int)Rol.Cadete)
                    {
                        <th>Cadete</th>
                    }
                }
                <th>Acciones</th>
            </tr>
            </thead>

            <tbody>
            @foreach (var pedido in Model)
            {
                <tr>
                    <td>@pedido.Id</td>
                    <td>@pedido.Observacion</td>
                    <td>@pedido.Estado</td>
                    @{
                        if (rolUsuario != (int)Rol.Cliente)
                        {
                            <td>@pedido.Cliente</td>
                        }
                    }

                    @{
                        if (rolUsuario != (int)Rol.Cadete)
                        {
                            <td>@pedido.Cadete</td>
                        }
                    }
                    <td>
                        <a class="btn btn-primary btn-sm" asp-controller="Pedido" asp-action="ModificarPedido" asp-route-id="@pedido.Id">Editar</a>
                        @{
                            if (rolUsuario == (int)Rol.Administrador)
                            {
                                <a class="btn btn-danger btn-sm" asp-controller="Pedido" asp-action="BajaPedido" asp-route-id="@pedido.Id">Eliminar</a>
                            }
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>

    </article>
</section>